[submodule "zsh/bundles/pure"]
	path = zsh/bundles/pure
	url = https://github.com/jamesramsay/pure.git
[submodule "zsh/bundles/async"]
	path = zsh/bundles/async
	url = https://github.com/mafredri/zsh-async.git
[submodule "zsh/bundles/zsh-completions"]
	path = zsh/bundles/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/bundles/fast-syntax-highlighting"]
	path = zsh/bundles/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh/bundles/zsh-autosuggestions"]
	path = zsh/bundles/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
