[alias]
  # Added in Git 1.5.4
  p = add -p
  patch = add -p

[core]
  excludesfile = ~/.gitignore
  pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[diff]
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool]
  prompt = false

[merge]
  tool = Kaleidoscope

[push]
  # Added in Git 1.7.11, default in 2.0, but still required (to avoid warning).
  default = simple

[user]
  email = james@jramsay.com.au
  name = James Ramsay
  signingkey = 0x1BCD63BD7FAF4FBC

[gpg]
  program = gpg

[color]
  ui = true

[color "diff-highlight"]
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  commit = yellow italic
  old = red bold
  new = green bold
  whitespace = red reverse

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
