[alias]
      	# Added in Git 1.5.4
      	p = add -p
	      patch = add -p

[core]
        excludesfile = ~/.gitignore

[diff]
        algorithm = histogram

        # Added in Git 2.9.0 (experimental): more readable diffs.
	      compactionHeuristic = true

[difftool]
        prompt = false

[push]
        # Added in Git 1.7.11, default in 2.0, but still required (to avoid warning).
	      default = simple

[user]
        email = git@jwr.vc
        name = James Ramsay

