[alias]
  # Added in Git 1.5.4
  p = add -p
  patch = add -p

[core]
  excludesfile = ~/.gitignore

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[diff]
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool]
  prompt = false

[merge]
  tool = Kaleidoscope

[push]
      # Added in Git 1.7.11, default in 2.0, but still required (to avoid warning).
      default = simple

[user]
      email = git@jwr.vc
      name = James Ramsay

